# ðŸ“Š Match Count per Year Analysis
In this notebook, we analyze the number of international football matches played each year using the `results.csv` dataset.

We'll:
- Load and inspect the data
- Convert date columns properly
- Group matches by year
- Visualize trends in match activity over time

In [ ]:
import pandas as pd


df = pd.read_csv("../data/results.csv")

In [138]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48366 entries, 0 to 48365
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        48366 non-null  object
 1   home_team   48366 non-null  object
 2   away_team   48366 non-null  object
 3   home_score  48366 non-null  int64
 4   away_score  48366 non-null  int64
 5   tournament  48366 non-null  object
 6   city        48366 non-null  object
 7   country     48366 non-null  object
 8   neutral     48366 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 3.0+ MB

In [140]:
df["tournament"].value_counts().head(20)

tournament
Friendly                                18118
FIFA World Cup qualification             8419
UEFA Euro qualification                  2824
African Cup of Nations qualification     2278
FIFA World Cup                            964
Copa AmÃ©rica                              869
AFC Asian Cup qualification               794
African Cup of Nations                    793
UEFA Nations League                       658
CECAFA Cup                                620
CFU Caribbean Cup qualification           606
Merdeka Tournament                        599
British Home Championship                 523
CONCACAF Nations League                   422
AFC Asian Cup                             421
Gold Cup                                  420
Gulf Cup                                  410
UEFA Euro                                 388
Island Games                              379
Asian Games                               368
Name: count, dtype: int64

In [141]:
df[(df['home_team'] == "Greece") | (df['away_team'] == "Greece")][df['tournament']!= "Friendly"].count()

C:\Users\ntheo\AppData\Local\Temp\ipykernel_7160\3828124419.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[(df['home_team'] == "Greece") | (df['away_team'] == "Greece")][df['tournament']!= "Friendly"].count()

date          355
home_team     355
away_team     355
home_score    355
away_score    355
tournament    355
city          355
country       355
neutral       355
dtype: int64

In [142]:
df['match_result'] = df.apply(
    lambda row: 'Home Win' if row['home_score'] > row['away_score']
    else ('Away Win' if row['home_score'] < row['away_score'] else 'Draw'),
    axis=1
)

In [143]:
df['match_result']

0            Draw
1        Home Win
2        Home Win
3            Draw
4        Home Win
           ...
48361        Draw
48362        Draw
48363    Home Win
48364    Home Win
48365    Away Win
Name: match_result, Length: 48366, dtype: object

In [144]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [145]:
df['year'] = df['date'].dt.year

In [146]:
games_per_year = df.groupby('year')['match_result'].count()
print(games_per_year)

year
1872       1
1873       1
1874       1
1875       1
1876       2
        ...
2021    1115
2022     969
2023    1054
2024    1169
2025     379
Name: match_result, Length: 154, dtype: int64

In [147]:
games_per_year.sort_values(ascending=False).head(10)

year
2024    1169
2019    1147
2011    1115
2021    1115
2008    1101
2004    1079
2023    1054
2000    1040
2015    1039
2001    1031
Name: match_result, dtype: int64